{% extends 'base.html.twig' %}

{% block title %}Creation éditoriale et story-telling
{% endblock %}

{% block body %}

	<section id="container4">
		<div class="row contact_page">
			<div class="col-md-4 col-12 contact_part1">
				<img class="image-principale" src="{{ asset('/uploads/images/crea.png') }}">
			</div>
			<div class="col-md-4 col-12 contact_part2">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_contenus') }}">CRÉATION DE CONTENUS</a>
					|
					<span>CRÉATION ÉDITORIALE ET STORY-TELLING</span>
				</div>

				<h1 class="card-title sous-titre writeWhite">SCULPTER LES MOTS, CISELER L’IDÉE</h1>

				<p class="texte-intro writeWhite">Sur votre site web, sur vos réseaux sociaux, dans vos supports print … le contenu est la porte d’entrée de vos clients vers votre entreprise.</p>
				<p class="texte-intro writeWhite"> C’est par lui que se transmet votre histoire vos valeurs, que s’instaure votre réputation ou que se comprend votre offre ou votre produit.</p>
			</div>
			<div></div>
		</section>

		<section class="mask_contact">
			<img src="{{ asset('uploads/images/fl23.png') }}">
		</section>

		<div class="container-medium">
			<div class="row">
				<div class="col-sm-12 col-md-12 mb-4">
					<p class="texte-intro-2 mt-2">D’où l’importance de choisir les bons mots, les polisser, les choyer pour qu’ils racontent le plus justement votre entreprise.</p>
					<p></p>
					<p class="texte-intro-2 mt-2">D’où l’importance aussi de privilégier une plume aiguisée au confort artificiel d’un ChatGPT.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 col-md-12 mt-4 mb-5">
					<h2>LE STORY-TELLING, À LA SOURCE DE VOTRE COMMUNICATION</h2>
				</div>
			</div>
		</div>

		<div class="background-green">
			<div class="row div-part borderSolid">
				<div class="col-xs-12 col-md-3 contact_part1">
					<p class="gros_chiffre writeWhite">01</p>
				</div>
				<div class="col-xs-12 col-md-8">
					<h3 class="h3-mini writeWhite">Agréger, convaincre, fidéliser, connecter…</h3>
					<p class="texte-courant writeWhite">De bons mots au service du bon story-telling permettront à votre marque d’établir une relation privilégiée avec vos clients, une relation de confiance et de long terme.
					</p>
					<p class="texte-courant writeWhite">Qui porterait des Nike sans le récit de dépassement de soi, d’accomplissement et de rage de vaincre sous-jacent à toutes les communications de la marque à la virgule ?</p>
					<p class="texte-courant writeWhite">Qui oserait boire du Red Bull si cette célèbre boisson ne véhiculait ses valeurs d’adrénaline, d’audace et de fun ?</p>
					<p class="texte-courant writeWhite">Chez Firstcom, nous nous attachons à tirer la substantifique moelle de votre histoire et de vos valeurs, pour mieux vous raconter.</p>
				</div>
			</div>
			<div class="row div-part borderSolid">
				<div class="col-xs-12 col-md-3 contact_part1">
					<p class="gros_chiffre writeWhite">02</p>
				</div>
				<div class="col-xs-12 col-md-8">
					<h3 class="h3-mini writeWhite">Le brand content, et votre marque devient média</h3>
					<p class="texte-courant writeWhite">Qu’il soit informatif, décalé, expert ou politique, la création et la diffusion d’un contenu éditorial de marque vous permet de prendre la parole en direct auprès de vos prospects et clients.</p>
					<p class="texte-courant writeWhite">Vos (bons) mots, vos prises de position, votre voix, vous rendent reconnaissables, différents, désirables.</p>
					<p class="texte-courant writeWhite">Ils établissent votre autorité, font référence sur votre secteur d’activité.</p>
					<p class="texte-courant writeWhite">Diffusés sur les bons canaux, ils peuvent devenir viraux et générer autour de vous une communauté fidèle et reconnaissante.</p>
				</div>
			</div>
			<div class="row div-part borderSolid">
				<div class="col-xs-12 col-md-3 contact_part1">
					<p class="gros_chiffre writeWhite">03</p>
				</div>
				<div class="col-xs-12 col-md-8">
					<h3 class="h3-mini writeWhite">Les bons mots de tous les jours</h3>
					<p class="texte-courant writeWhite">Au-delà du storytelling, du brand content, ou de plateforme de marque et de tous les mots compliqués des communicants, les simples mots restent bel et bien vos partenaires du quotidien : de la rédaction d’un site web à une fiche sur Amazon, vos produits, services, leurs bénéfices, leurs technologies doivent être distinctement décrits.</p>
				</div>
			</div>
		</div>

		<div class="container-medium">
			<div class="row contact_page borderSolid">
				<div class="col-sm-12 col-md-12 my-5">
					<h4>BREF, DES MOTS, TOUJOURS DES MOTS, DE SIMPLES MOTS, RIEN QUE DES MOTS...</h4>
				</div>
			</div>
		</div>


	{% endblock %}
