{% extends 'base.html.twig' %}

{% block meta_description %}
    <meta name="description" content="L'agence Firstcom réunit toutes les compétences indispensables pour optimiser la présence des entreprises sur le web et assurer leur croissance digitale. ">
{% endblock %}

{% block title %}Méthode et process{% endblock %}

{% block body %}

	<section id="container1">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/agence-methode.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					| 
					<a href="{{ path('app_agence') }}">L'AGENCE</a>
                    |
                    <span>MÉTHODE ET PROCESS</span>
				</div>

				<h1 class="card-title sous-titre writeWhite">AGILITÉ + SUR-MESURE = SUCCÈS²</h1>
				<p class="texte-intro writeWhite mt-1">
                    Dans l'arène du digital comme dans celle du business en
                    général, mieux vaut savoir conjuguer précision et flexibilité
                    pour répondre à des besoins souvent complexes, parfois
                    contradictoires, toujours fluctuants et forcément
                    particuliers.
                </p>
				
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row borderSolid">
			<div class="row borderSolid">
				<div class="col-12">
					<p class="mb-4">Pour chaque client, Firstcom met en place une équipe agile et réactive, menée par un(e) chef(fe) de projet senior, qui pilote et
						orchestre la mission en mode orfèvrerie sur-mesure.</p>
					
					<h2 class="mb-4">CHEZ FIRSTCOM, CHAQUE MISSION EST DRIVÉE AVEC LA MÊME EXIGENCE</h2>
					<ul class="mb-4">
						<li>Traiter chaque projet avec autant de dévouement que 007 en charge de sauver le monde</li>
						<li>Constituer la meilleure des équipes, avec l’expertise la plus pointue pour répondre aux besoins exprimés.</li>
						<li>Se challenger, avant et pendant la mission, échanger et itérer en interne, pour offrir toujours le meilleur de chacun.</li>
						<li>Regarder dans le rétroviseur, pour analyser le déroulé et le rendu et en tirer des conclusions pour l’avenir.</li>
					</ul>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-12 mb-5 mt-2">
				<h2>
					SI LA MÉTHODE FIRSTCOM N’A PAS LA PRÉTENTION DE
					RÉINVENTER NI LA ROUE (MAIS PEUT-ÊTRE LE FIL À COUPER
					LE BEURRE), ELLE A TOUJOURS FAIT SES PREUVES.
					DÉROULONS :
				</h2>
			</div>
		</div>
	</div>

	<div class="background-basic-green row writeWhite">
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt writeWhite">01</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini writeWhite">VOUS ÉCOUTER</h3>
					<p class="texte-courant">
						Chaque collaboration débute par une écoute attentive, un
moment privilégié durant lequel un(e) chef(fe) de projet,
souvent accompagné(e) d’un associé dirigeant, recueille le fil de
vos aspirations et prend la mesure de vos ambitions. Une étape
indispensable pour bien calibrer la mission.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt writeWhite">02</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini writeWhite">VOUS DÉCOUVRIR</h3>
					<p class="texte-courant">
						Le / la chef(fe) de projet se penche sur votre métier, votre
marché, votre univers. Analyses votre marque, vos outils, votre
manière d’adresser votre cible.
En chef(fe) d’orchestre, il / elle monte son équipe en fonction
des besoins exprimés.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt writeWhite">03</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini writeWhite">VOUS PROPOSER</h3>
					<p class="texte-courant">
						Un plan de com, une campagne d’acquisition, un
						accompagnement SEO, un cahier des charges pour une refonte
						/ création de site, un intranet, la création d’une plateforme de
						marque, une charte graphique, etc. Chaque expert y va de sa
						recommandation pour vous bâtir ensemble la proposition la
						plus adaptée, au budget le plus ajusté.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt writeWhite">04</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini writeWhite">VOUS DÉLIVRER</h3>
					<p class="texte-courant">
						En totale transparence et en étroite collaboration avec vos
équipes, nous déployons les actions convenues, dans le respect
du planning annoncé. Chaque développement est testé,
chaque campagne scrutée, chaque action analysée. Dans la
mesure du possible, nous créons des outils de reporting, afin
que vous puissiez suivre en direct les performances de nos
actions.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt writeWhite">05</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini writeWhite">VOUS RAPPORTER</h3>
					<p class="texte-courant">
						Une fois la mission achevée, nous nous posons pour en tirer le
bilan. En interne. Et avec vos équipes bien sûr, pour être
certains d’avoir répondu à vos attentes, mais aussi car votre
feed back reste le meilleur moyen de nous améliorer.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt writeWhite">06</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini writeWhite">VOUS ACCOMPAGNER</h3>
					<p class="texte-courant">
						Puisque quand une campagne s’achève, une autre prend le
relais, quand un site web est en ligne, il faut le maintenir et le
faire grandir, quand une recommandation SEO est appliquée, il
faut la mettre à jour, ainsi va le monde du digital.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row borderSolid">
			<div class="col-sm-12 col-md-12 mb-5 mt-5">
				<h2>
					PAS DE RÉVOLUTION À L’HORIZON DE NOTRE PROCESS, MAIS UNE MÉTHODE
					CLAIRE ET SIMPLE POUR VOTRE SUCCÈS².
				</h2>
			</div>
		</div>
	</div>


{% endblock %}
