{% extends 'base.html.twig' %}

{% block title %}Firstcom, vos campagnes d'acquisition Google et réseaux sociaux
{% endblock %}

{% block body %}

	<section id="container6">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/digital-digitalisation.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_tech_digital') }}">TECH & DIGITAL</a>
					|
					<span>DIGITALISATION</span>
				</div>

				<h1 class="card-title sous-titre black">DÉVELOPPONS, AUTOMATISONS,<br> FACILITONS,<br> RENTABILISEZ.</h1>

				<p class="texte-intro mb-2">Pourquoi, mais pourquoi donc s’acharner à réaliser des tâches ingrates et chronophages quand on peut simplement appuyer sur un bouton ?<p/></p>
				<p class="texte-intro">Toute exagération mise à part, intégrer de la technologie pour se faciliter la vie devrait être obligatoire, voir même prescrit pas la sécu.</p>
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row borderSolid">
			<div class="row borderSolid">
				<div class="col-12">
					<p class="mb-2">Automatiser une tâche répétitive et sans valeur ajoutée, collaborer de manière plus efficace, mieux récolter, et donc exploiter, la data ou améliorer l’expérience client… Nombreux sont les avantages à introduire du digital dans nos métiers.</p>
					<p>Transformer digitalement tout ou partie de son activité ne se réduit pas à faire travailler 3 geeks sur un projet de manière autonome : C’est un projet qui se construit sur le long terme, en accord avec toutes les parties prenantes de l’entreprise, car souvent, il viendra bouleverser la culture même du travail.</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-12 mt-5 mb-4">
                <h3>Pour ce type de projets de grande ampleur, Firstcom vous propose une méthode de travail rigoureuse </h3>
			</div>
		</div>
	</div>

	<div class="background-blue row">
		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">01</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">Étude de l’existant</h3>
					<p class="texte-courant">Comment votre entreprise fonctionne, quels sont les outils utilisés, leurs points forts, les points de douleur (pain point) ? Doit-on refaire, améliorer, intégrer de nouvelles fonctionnalités ?</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">02</p>
				</div>
				<div class="col-12 ">
					<h3 class="h3-mini">Définir les objectifs</h3>
					<p class="texte-courant">Souhaitez-vous améliorer l’expérience client, ou optimiser la collaboration de vos équipes ? Réduire vos coûts de fonctionnement ou automatiser une tâche sans grande valeur ajoutée ?</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">03</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">Bâtir un cahier des charges</h3>
					<p class="texte-courant">Une étape clé, presqu’aussi importante que le développement à proprement parler. Nous mettons des mots sur vos besoins, détaillons les outils, process, mécaniques. Nous évaluons les ressources nécessaires, le temps à y consacrer et bien sûr le coût final.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">04</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">Développer l’outil / la techno</h3>
					<p class="texte-courant">Parce que nos développeurs aiment avoir les mains libres et travailler sur des solutions fiables et évolutives, ils optent généralement pour des technologies open source (Linux, Apache, Nginx, PHP, MySql, Git…), mais peuvent aussi créer des solutions personnalisées, sur mesure, « from scratch ».</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">05</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">Assurer la formation et le change management</h3>
					<p class="texte-courant">Une fois l’outil bâti, la formation des utilisateurs est incontournable pour une bonne adoption et une transition qui doit s’effectuer en douceur.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-6 col-xl-4 borderFull p-5" style="text-decoration:none;">
			<div class="row">
				<div class="col-12">
					<p class="gros_chiffre_alt">06</p>
				</div>
				<div class="col-12">
					<h3 class="h3-mini">Implémenter l’outil dans l’entreprise</h3>
					<p class="texte-courant">Ça y est, votre activité / process est désormais digitalisé ! L’équipe Firstcom apporte une attention accrue à cette étape afin de s’assurer du bon fonctionnement de l’intégration, du suivi et de l’analyse des données recueillies, etc.</p>
				</div>
			</div>
		</div>
	</div>
    
{% endblock %}
