{% extends 'base.html.twig' %}

{% block title %}Seo{% endblock %}

{% block body %}

<section id="container2">
  <div class="row contact_page">
    <div class="col-md-4 col-12 contact_part1">
    <p class="objectif">OBJECTIF : 1ÈRE </p>
	<p class="objectif">POSITION SUR LA 1ÈRE</p>
	<p class="objectif">PAGE DE GOOGLE</p>
    </div>
    <div class="col-md-3 col-12 contact_part2">
      <p class="fil_ariane"> FIRSTCOM | EXPERTISE | CROISSANCE ET PERFORMANCE | RÉFÉRENCEMENT NATUREL SEO</p>
      <p class="card-text contact-text black">C’EST L E CHALLENGE QUE SE FIXE NOS EXPERTS SEO POUR
        TOUS NOS CLIENTS, EN LOCAL, EN NATIONAL OU À
        L’INTERNATIONAL.
        UN CHALLENGE COMPLEXE, PUISQUE LE RÉFÉRENCEMENT
        NATUREL ÉTANT DE LOIN LA TECHNIQUE LA PLUS PUISSANTE
        ET LA PLUS COMPLEXE POUR ASSURER SA CROISSANCE SUR
        LE WEB, LA CONCURRENCE Y EST ACHARNÉE.</p>
        <p class="card-text-mini-home black">Une affaire de virtuoses, puisque le SEO implique des compétences
        pointues et complémentaires en stratégie, rédaction et technique.
        Un combat de tous les instants, car il faut affronter les tenants de
        mauvaises pratiques (« black hat ») qui vendent du rêve à court terme
        et la faillite à long terme.
        Une remise en question permanente, tant les méthodes, les impératifs,
        les besoins évoluent au grès de la volonté des moteurs de recherche. Bref, le SEO est une affaire d’experts.</p>
    </div>
  </div>
  <div>
  </div>
</section>

<section class="mask_contact">
      <img class="" src="https://zupimages.net/up/23/23/fl23.png" >
</section>

<div class="container">
	<div class="row contact_page borderSolid">
		<div class="col-sm-12 col-md-12 mb-4">
			<h3 class="title-croissance">SEO : APPROCHE ET MÉTHODE FIRSTCOM</h3>
		</div>

		<div class="row croissance_page borderSolid">
			<div class="col-12">
				<p class="card-text-home">CHEZ FIRSTCOM, LE SEO EST UNE AFFAIRE SÉRIEUSE, QUI NE S’ENVISAGE PAS EN « ONE SHOT », MAIS SUR LE LONG TERME.</p>
				<p class="card-text-home">NOUS PRIVILÉGIONS UNE APPROCHE GLOBALE QUI INCLUT L’AUDIT ET L’ANALYSE, LA STRATÉGIE, LA TECHNIQUE, LA RÉDACTION, ET L’UX.</p>
			</div>
		</div>
        <div class="col-sm-12 col-md-12 mb-4">
			<h3 class="title-croissance">LA MÉTHODE FIRSTCOM</h3>
		</div>
        <div class="col-sm-12 col-md-12 mb-4">
			<p class="title-croissance">AUDIT ET ANALYSE</p>
		</div>
         <p class="card-text-mini-home black">Une fois vos objectifs (raisonnables et sérieux) définis, nous effectuons des audits et analyses de votre site web, de ses atouts, ses faiblesses et ses
        performances à l’instant T, au regard de critères SEO. Nous examinons vos opportunités de marché. Nous étudions également votre concurrence
        afin de déterminer leur stratégie, ses points forts et ses points faibles.</p>
	</div>
</div>

<div class="row home_page borderSolid background-yellow">
	<div class="col-sm-12 col-md-4 contact_part1">
		<p class="gros_chiffre"> 01 </p>
	</div>
	<div class="col-sm-12 col-md-6">
		<h4 class="card-title-home blockLeft">DÉFINITION D’UNE STRATÉGIE DE
            RÉFÉRENCEMENT NATUREL</h4>
			<p class="card-text-mini-home">
			Nous tirons des audits et analyses des univers sémantiques à forte valeur ajoutée sur lesquels vous positionner, ainsi que
            les actions à entreprendre pour y parvenir : amélioration de l’Ux de votre site web, rédaction et intégration de nouveaux
            contenus, rewriting ou restructuration de textes existants, maillage, indexation, etc.</p>
	</div>
</div>

<div class="row home_page borderSolid background-yellow">
	<div class="col-sm-12 col-md-4 contact_part1">
		<p class="gros_chiffre"> 02 </p>
	</div>
	<div class="col-sm-12 col-md-6 home_parts">
		<h4 class="card-title-home">APPLICATION DES RECOMMANDATIONS</h4>
			<p class="card-text-mini-home">
			Améliorer son référencement naturel est un travail du quotidien, qui nécessite une veille permanente et des optimisations
            techniques et rédactionnelles régulières. C’est pourquoi, nous proposons à nos clients une collaboration annuelle sur une
            base forfaitaire. Sur une année, nous effectuons plusieurs audits de votre site et de la concurrence, mais aussi des
            analyses de positionnement mensuelles de vos requêtes. Nous corrigeons, testons, améliorons..</p>
	</div>
</div>

	
<div class="container">
	<div class="row contact_page borderSolid">
		<div class="col-sm-12 col-md-12 mb-4">
			<p class="title-seo">ET QUAND C’EST FINI ? NOUS RECOMMENÇONS…</p>
		</div>
	</div>
</div>







{% endblock %}
