{% extends 'base.html.twig' %}

{% block title %}Référencement naturel SEO
{% endblock %}

{% block body %}

	<section id="container2">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('uploads/images/seo.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_croissance') }}">CROISSANCE ET PERFORMANCE</a>
					|
					<span>RÉFÉRENCEMENT NATUREL SEO</span>
				</div>

				<h1 class="card-title sous-titre black">OBJECTIF : 1ÈRE POSITION SUR LA 1ÈRE PAGE DE GOOGLE</h1>

				<p class="texte-intro black">C'est le challenge que se fixent nos experts SEO pour tous nos clients, en local, en national ou à l'international.</p>
				<p class="texte-intro black mt-1">Un challenge complexe, puisque le référencement naturel étant de loin la technique la plus puissante et la plus mouvante pour assurer sa croissance sur le web, la concurrence y est acharnée.</p>
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12 mb-4">
				<p class="texte-intro-2 mt-2"> Une affaire de virtuoses, puisque le SEO implique des compétences pointues et complémentaires en stratégie, rédaction et technique. Un combat de tous les instants, car il faut affronter les tenants de mauvaises pratiques (« black hat ») qui vendent du rêve à court terme et la faillite à long terme.</p>
				<p class="texte-intro-2">Une remise en question permanente, tant les méthodes, les impératifs, les besoins évoluent au gré de la volonté des moteurs de recherche.</p>
				<p class="texte-intro-2 mt-2">Bref, le SEO est une affaire d’experts.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12 mb-5">
				<h2>SEO : APPROCHE ET MÉTHODE FIRSTCOM</h2>
				<p class="texte-intro-2">Chez FIRSTCOM, le SEO est une affaire sérieuse, qui ne s'envisage pas en « one shot », mais sur le long terme. Nous privilégions une approche globale qui inclut l'audit et l'analyse, le stratégie, le technique, le rédaction et l'UX.</p>
			</div>
		</div>
	</div>
	<div class="background-yellow">
		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">01</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h4>AUDIT ET ANALYSE</h4>
				<p class="texte-courant black">Une fois vos objectifs (raisonnables et sérieux) définis, nous effectuons des audits et analyses de votre site web, de ses atouts, ses faiblesses et ses performances à l’instant T, au regard de critères SEO. Nous examinons vos opportunités de marché. Nous étudions également votre concurrence afin de déterminer leur stratégie, ses points forts et ses points faibles.</p>
			</div>
		</div>

		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">02</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h4>DÉFINITION D’UNE STRATÉGIE DE RÉFÉRENCEMENT NATUREL</h4>
				<p class="texte-courant black">Nous tirons des audits et analyses des univers sémantiques à forte valeur ajoutée sur lesquels vous positionner, ainsi que les actions à entreprendre pour y parvenir : amélioration de l’UX de votre site web, rédaction et intégration de nouveaux contenus, rewriting ou restructuration de textes existants, maillage, indexation, etc.</p>
			</div>
		</div>

		<div class="row div-part borderSolid">
			<div class="col-sm-12 col-md-3 contact_part1">
				<p class="gros_chiffre">03</p>
			</div>
			<div class="col-sm-12 col-md-8">
				<h4>APPLICATION DES RECOMMANDATIONS</h4>
				<p class="texte-courant black">Améliorer son référencement naturel est un travail du quotidien, qui nécessite une veille permanente et des optimisations techniques et rédactionnelles régulières. C’est pourquoi, nous proposons à nos clients une collaboration annuelle sur une base forfaitaire. Sur une année, nous effectuons plusieurs audits de votre site et de la concurrence, mais aussi des analyses de positionnement mensuelles de vos requêtes. Nous corrigeons, testons, améliorons.</p>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 my-5">
				<h4>ET QUAND C’EST FINI ? NOUS RECOMMENÇONS…</h4>
			</div>
		</div>
	</div>

{% endblock %}
