{% extends 'base.html.twig' %}

{% block title %}Community management et RP
{% endblock %}

{% block body %}

	<section id="container2">
		<div class="row align-items-center justify-content-center">
			<div class="col-md-4 col-12">
				<img class="image-principale" src="{{ asset('/uploads/images/smartphone.webp') }}">
			</div>
			<div class="col-md-4 col-12">
				<div class="fil_ariane">
					<a href="{{ path('app_home') }}">FIRSTCOM</a>
					|
					<a href="{{ path('app_croissance') }}">CROISSANCE ET PERFORMANCE</a>
					|
					<span>COMMUNITY MANAGEMENT ET RP</span>
				</div>

				<h1 class="card-title sous-titre black">INFORMAFLUENCE</h1>

				<p class="texte-intro black">Relations presse et community management.</p>
				<p class="texte-intro black mt-1">L'un passait (presque) pour le plus vieux métier du monde.</p>
				<p class="texte-intro black mt-1">L'autre revendiquait la fraîcheur et l'assurance des nouveaux venus.</p>
			</div>
		</div>
	</section>

	<section class="mask_contact">
		<img src="{{ asset('uploads/images/fl23.png') }}">
	</section>

	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12 mb-4">
				<p class="texte-intro-2">Relations presse et community management ont plus qu’un point commun :</p>
				<p class="texte-intro-2">Ils permettent de vous assurer visibilité et notoriété, de diffuser votre storytelling, de partager une version maîtrisée de votre image, d’assoir la présence de votre entreprise auprès de vos cibles et last but not least, de générer, indirectement, du business pour votre marque.</p>
				<p class="texte-intro-2 mt-3">Mais les frontières autrefois ténues entre relations presse et community management s’atténuent, même si 41% des Français s’informent via les réseaux sociaux (62% pour les moins de 25 ans)*.</p>
				<p class="texte-intro-2 mt-3">Désormais, Le Monde s’affiche sur X (Twitter) et Nabilla fait le 20h.</p>
				<p class="texte-intro-2">Votre entreprise doit adapter son message et s’afficher partout.</p>
				<p class="texte-intro-2">Sur Youtube et dans le Monde.</p>
				<p class="texte-intro-2">Au 20h et sur Meta.</p>
			</div>
		</div>
	</div>
	<div class="container-medium">
		<div class="row">
			<div class="col-sm-12 col-md-12 pb-4">
				<h2>BREF, CES DEUX TECHNIQUES DE COMMUNICATION EXTREMEMENT COMPLEMENTAIRES SONT DEVENUES AUJOURD’HUI INDISSOCIABLES</h2>
			</div>
		</div>
	</div>
	<div class="background-yellow">
		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">01</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h3>COMMUNITY MANAGEMENT : FIDÉLITÉ ET ENGAGEMENT</h3>
				<p class="texte-courant black">Le Community Manager promeut votre marque / entreprise sur les réseaux sociaux squattés par vos cibles, il relaye votre actualité et crée et / ou entretient une communauté de « fans » qui peuvent interagir directement avec vous.</p>
				<p class="texte-courant black">Le community management est une action à long terme, qui vous permet d’engager une relation directe avec votre communauté et de la fidéliser grâce, entre autres, à une stratégie éditoriale bien pensée.</p>
			</div>
		</div>

		<div class="row div-part borderSolid">
			<div class="col-xs-12 col-md-3 contact_part1">
				<p class="gros_chiffre">02</p>
			</div>
			<div class="col-xs-12 col-md-8">
				<h3>RELATIONS PRESSE : PUISSANCE ET VISIBILITÉ</h3>
				<p class="texte-courant black">L’attaché(e) de presse a lâché son fax depuis longtemps mais se porte garant(e) de la médiatisation de votre marque et de vos produits. Il / elle travaille votre actualité pour la rendre rapidement compréhensible et surtout très attractive. Il / elle entretient son réseau de journalistes et pousse votre information pour un maximum d’audience.</p>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 my-5">
				<p class="texte-intro-2 mb-4">Chez Firstcom, Community management et Relations presse s’imbriquent dans une stratégie de marque puissante.</p>
				<h4>ON SE FAIT UN WHATSAPP ?</h4>
			</div>
		</div>
	</div>

	<div class="container-medium">
		<div class="row contact_page borderSolid">
			<div class="col-sm-12 col-md-12 my-5">
				<p><small><em>* Etude Ipsos – Le rapport des jeunes à l’information – Médias en Seine – Novembre 2022.</em></small> </p>
			</div>
		</div>
	</div>

{% endblock %}
